<!DOCTYPE html>
<html ng-app='myApp'>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css-only/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller='myController'>
  <div class='calculatorButtons'>
    <button type="button" class="btn btn-primary" ng-click="numbers(7)">7</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(8)">8</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(9)">9</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(4)">4</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(5)">5</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(6)">6</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(1)">1</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(2)">2</button>
    <button type="button" class="btn btn-primary" ng-click="numbers(3)">3</button>
    <button type="button" class="btn btn-primary">-</button>
    <button type="button" class="btn btn-primary">*</button>
    <button type="button" class="btn btn-primary">/</button>
    <button type="button" class="btn btn-primary" ng-click="add()">+</button>
    <button type="button" class="btn btn-primary">=</button>
    <button type="button" class="btn btn-primary" ng-click="clear()">Clear</button>
  </div>
  <p>{{ output }}</p>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>