<!DOCTYPE html>
<html ng-app='myApp'>
<head>
  <title>My Calculator</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css-only/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller='myController' ng-keypress="keypress($event)">
  <div class='col-xs-4'>
  </div>
      <div class='calculatorBody col-xs-4'>
        <div class='calculatorScreen'>
          <p class='numbers text-right'>{{ output }}</p>
        </div>
        <div class='buttons'>
          <button class='col-xs-9 btn btn-default btn-md operators' style='width: 234px; height: 36px;'></button>
          <button class='col-xs-3 btn btn-default btn-md operators' style='height: 36px; width: 78px; font-size: 14px'>DELETE</button>
          <br>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;' ng-click='updateOutput(7)'>7</button>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(8)'>8</button>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(9)'>9</button>
          <button class='col-xs-3 btn btn-default btn-md operators' style='height: 76px; width: 78px;'ng-click='subtract()'>/</button>
          <br>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(4)'>4</button>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(5)'>5</button>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(6)'>6</button>
          <button class='col-xs-3 btn btn-default btn-md operators' style='height: 76px; width: 78px;'ng-click='add()'>X</button>
          <br>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(1)'>1</button>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(2)'>2</button>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(3)'>3</button>
          <button class='col-xs-3 btn btn-default btn-md operators' style='height: 76px; width: 78px;'ng-click='subtract()'>-</button>
          <br>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(.)'>.</button>
          <button class='col-xs-3 btn btn-default btn-md num' style='height: 76px; width: 78px;'ng-click='updateOutput(0)'>0</button>
          <button class='col-xs-3 btn btn-default btn-md operators' style='height: 76px; width: 78px;'ng-click='calculate()'>=</button>
          <button class='col-xs-3 btn btn-default btn-md operators' style='height: 76px; width: 78px;'ng-click='add()'>+</button>
        </div>
      </div>
    <div class='col-xs-4'>
    </div>




  <!-- Dependencies -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/ng-Fx/dist/ng-Fx.min.js"></script>

  <!-- App Scripts -->
  <script src="app.js"></script>
</body>
</html>