p {
  font-size: 40px;
  color: blue;
}

.calculatorBody {
  background-color: grey;
  padding: 3%;
  box-shadow: 5px 5px 5px;
  margin-top: 35px;
  border-radius: 25px;
}
.calculatorScreen {
  border: 2px solid white;
  background-color: black;
}

.solarPanel {
  background-color: black;
  -webkit-box-sizing: border-box;
  width: 80px;
}